html {
  height: 100%;
  overflow: hidden;
}

body {
  background-size: cover;
  background-attachment: fixed;
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.App {
  text-align: center;
}

.siteTitle {
  background-color: white;
  color: orangered;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 10px;
  width: 20%;
}