.photo {
  width: 120px;
  height: 100px;
}

.name {
  text-decoration: underline;
}

.superlative {
  background-color: #a29a5c;
  padding: 2%;
}

.card {
  background-color: #151030;
  color: #fff;
  margin: 3% 15%;
  padding: 5%;
  width: 40%;
}